<h1>New Lead</h1>

<%= form_with scope: :leads, local: true do |form| %>

<%= datetime_local_field(:lead, :calltime) %><br>
<%= telephone_field(:lead, :phone) %>

<br>

    <%= form.label :text %><br>
    <%= form.text_area :text %>
<br>

    <%= form.submit %>
  </p>
<% end %>
