<h1>New Lead</h1>

<%= form_for @lead do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
